@model TaskItem

@{
    ViewData["Title"] = "Update Task";
}

    <audio id="zombie">
        <source src="~/sounds/Zombie-Short-Aggressive.mp3" type="audio/mpeg">
    </audio>

<h1 class="mb-4">Update Task: @Model.TaskName</h1>

<div class="div-z shadow-z col-7">
    <form action="../Home/SaveUpdates" method="post">

        <input type="text" name="Id" value="@Model.Id" hidden />
        <p>Task Name<br /><input type="text" name="TaskName" value="@Model.TaskName" class="input-group mt-2 rounded" required /></p>
        <p>Task Details<br /><input type="text" name="TaskDetails" value="@Model.TaskDetails" class="input-group mt-2 rounded" required /></p>
        <p>
            Task Priority<br />
            <select name="TaskPriority" class="input-group mt-2 rounded" required>
                @if (Model.TaskPriority == "Low")
                {
                    <option value="Low" selected>Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                }
                else if (Model.TaskPriority == "Medium")
                {
                    <option value="Low">Low</option>
                    <option value="Medium" selected>Medium</option>
                    <option value="High">High</option>
                }
                else if (Model.TaskPriority == "High")
                {
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High" selected>High</option>
                }
            </select>
        </p>
        @{
            string formattedDate = Model.DueDate.Value.ToString("yyyy-MM-dd");
        }
        <p>Due Date<br /><input type="date" name="DueDate" value="@formattedDate" class="input-group mt-2 rounded" required /></p>
        <p>
            Completion Status<br />
            <select name="Complete" class="input-group mt-2 rounded" required>
                @if (Model.Complete == true)
                {
                    <option value="true" selected>Complete</option>
                    <option value="false">Incomplete</option>
                }
                else
                {
                    <option value="true">Complete</option>
                    <option value="false" selected>Incomplete</option>
                }
            </select>
        </p>
        <input type="text" name="UserId" value="@Model.UserId" hidden />

        <button type="submit" class="btn-dark rounded" onmouseover="zombieShortAggressive()">Save Changes!</button>

    </form>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br />
<script>
    var x = document.getElementById("zombie");

    function zombieShortAggressive() {
        x.play();
    }
</script>